ion-content{
    --background:#DFE5E5;
}

ion-toolbar{
    background-color: var(--ion-color-toolbar);
}

ion-card{
    background-color: var(--ion-color-card);
}

ion-item{
    background-color: var(--ion-color-item);
}

ion-button{
    background-color: var(--ion-color-boton);
}
