

<ion-content class="ion-padding">

  <h1 class="titulo1">Iniciar Sesion</h1>

<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col sizeXs="9" sizeMd="6" sizeLg="2">
      <ion-img src="./assets/logo2.png" style="width: 17rem; height: 17rem; "></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<br>
  
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeLg="6">
          <ion-item color="item">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6" sizeLg="6">
          <ion-item color="item">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-grid fixed>
            <ion-row class="ion-justify-content-center">
              <ion-col size="6" class="ion-justify-content-center ion-text-center">
                <ion-button type="submit" color="boton">
                  login
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <p class="ion-text-center">Si no cuentas con una cuenta registrate</p>
    </div>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9">
          <ion-grid fixed>
            <ion-row class="ion-justify-content-center">
              <ion-col size="6" class="ion-justify-content-center ion-text-center">
                <ion-button routerLink="/register" type="button" color="boton">
                  registro
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
