<ion-content>
  <ion-tabs  color="tabs">
    <ion-tab-bar slot="bottom,top">
      <ion-tab-button tab="homealumnos" color="botontabs">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="guardados">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Guardados</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="porprecio">
        <ion-icon name="send"></ion-icon>
        <ion-label>Por Precio</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>