
<ion-content [fullscreen]="true">
  <div>
    <br>
    <label>
      <h1 class="titulo1">Bienvenid@s</h1>
    </label>
    <br>

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="9" sizeMd="6" sizeLg="3">
          <ion-img src="./assets/logo2.png" style="width: 17rem; height: 17rem; "></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="9" sizeMd="6" sizeLg="3">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-justify-content-center ion-text-center">
              <ion-button  routerLink="/login" color="boton">
                Alumno
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
<br>
<br>
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="7">
              <ion-button routerLink="/loginadmin" color="boton">
                Arrendatario
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
